@model IEnumerable<Avans.GameNight.Core.Domain.Models.BoardGame>
@using Avans.GameNight.App.Models
@{
    ViewData["Title"] = "Boardgames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Boardgames</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">


            <tr>
                <th>Game Name</th>
                <th>Genre</th>
                <th>18+</th>
                <th>Description</th>
                <th>Type of Game</th>
                <th>Picture</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NameGame)</td>
                    <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                    <td>@(item.Mature ? "Yes" : "No")</td>
                    <td>@Html.DisplayFor(modelItem => item.Desciption)</td>
                    <td>@Html.DisplayFor(modelItem => item.KindOfGame)</td>
                    <td><img src="data:@item.PictureFormat;base64,@Convert.ToBase64String(item.PictureB)" width="70" height="70"></td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteConfirm('@item.NameGame')">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    <a asp-area="" asp-controller="BoardGame" asp-action="Create" class="btn btn-primary" style="background-color: hsl(32, 45%, 25%);border-color:hsl(32, 45%, 25%);">Create New</a>
</p>

<!-- Modal -->
<div class="modal fade" id="delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationTitle">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete "<span id="deletedValueName"></span>"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="delete-route" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var deleteConfirm = function (val) {
            $('#deletedValueName').text(val);
            $('#delete-route').attr('href', '@Url.Action("Delete", "BoardGame")/' + encodeURIComponent(val));
            $('#delete-confirmation').modal('show');
        }
    </script>


}
