@model IEnumerable<Avans.GameNight.Core.Domain.Models.BoardGame>

@{
    ViewData["Title"] = "My Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">My Games</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Game Name</th>
                <th>Genre</th>
                <th>Mature</th>
                <th>Description</th>
                <th>Type of Game</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NameGame)</td>
                    <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                    <td>@(item.Mature ? "Yes" : "No")</td>
                    <td>@Html.DisplayFor(modelItem => item.Desciption)</td>
                    <td>@Html.DisplayFor(modelItem => item.KindOfGame)</td>
                    <td>
                        <a asp-area="" asp-controller="Boardgame" asp-action="MyGames" class="btn btn-primary">Leave</a>
                        <a asp-area="" asp-controller="Boardgame" asp-action="MyGames" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
