@model IEnumerable<Avans.GameNight.App.Models.BoardGame>

@{
    ViewData["Title"] = "MyGames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>MyGames</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameGame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desciption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KindOfGame)
            </th>
      
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameGame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desciption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KindOfGame)
            </td>
       
            <td>
               <a  asp-area="" asp-controller="Boardgame" asp-action="MyGames"><input type="submit" value="Leave" class="btn btn-primary" style="background-image: url('https://wallpaperaccess.com/full/3405912.jpg'); border-color:  hsl(32, 45%, 25%);"  /></a>|
              <a  asp-area="" asp-controller="Boardgame" asp-action="MyGames"><input type="submit" value="Edit" class="btn btn-primary" style="background-image: url('https://wallpaperaccess.com/full/3405912.jpg'); border-color:  hsl(32, 45%, 25%);"  /></a>

            </td>
        </tr>
}
    </tbody>
</table>
