@model Avans.GameNight.Core.Domain.Models.BoardGameNightBoardGame
@using Avans.GameNight.Core.Domain.Models

@{
    ViewData["Title"] = "Add Boardgame to " + ViewBag.NameNightBag;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-4">Add Boardgame to @ViewBag.NameNightBag</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="BoardGameNight" asp-action="AddBoardGame" asp-route-nameNight="@ViewBag.NameNightBag" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="BoardGameNameGame">Select a Boardgame</label>
                <select required asp-for="BoardGameNameGame" class="form-select">
                    <option value="" disabled>Please select</option>
                    @foreach (BoardGame item in ViewBag.BoardGames)
                    {
                        <option value="@item.NameGame">
                            @item.NameGame - @item.KindOfGame - @item.Desciption - @item.Genre - @(item.Mature ? "18+" : "16+")
                        </option>
                    }
                </select>
                <div class="invalid-feedback">Please select a board game.</div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="background-color: hsl(32, 45%, 25%);border-color:hsl(32, 45%, 25%);">
                    Add Boardgame
                </button>
                <a asp-area="" asp-controller="BoardGameNight" asp-action="Details" asp-route-nameNight="@ViewBag.NameNightBag" class="btn btn-secondary">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
