@model Avans.GameNight.Core.Domain.Models.BoardGameNight

@{
    ViewData["Title"] = "Board Game Night Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Board Game Night Details</h2>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Board Game Night Information</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">Name</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.NameNight)</dd>
                    <dt class="col-sm-3">Host</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Host)</dd>
                    <dt class="col-sm-3">Max Players</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.MaxPlayers)</dd>
                    <dt class="col-sm-3">Date and Time</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.DateTime)</dd>
                    <dt class="col-sm-3">Address</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Adress)</dd>
                    <dt class="col-sm-3">Mature</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Mature)</dd>
                    <dt class="col-sm-3">Food</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Food)</dd>
                    <dt class="col-sm-3">Drink</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Drink)</dd>
                    <dt class="col-sm-3">Ratings</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Ratings)</dd>
                </dl>
            </div>
            <div class="card-footer">
                <a asp-action="Edit" class="btn btn-primary">
                    Edit
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</div>
