@model Avans.GameNight.Core.Domain.Models.BoardGameNight

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BoardGameNight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameNight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameNight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Host)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Host)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPlayers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPlayers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPlayers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPlayers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
             <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Food)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Food)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ratings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ratings)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
