@model IEnumerable<Avans.GameNight.Core.Domain.Models.BoardGameNight>
@using Avans.GameNight.App.Models
@using Avans.GameNight.Core.Domain.Models
@{
    ViewData["Title"] = "Join Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Join Game Nights</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name Night</th>
                <th>@Html.DisplayNameFor(model => model.Host)</th>
                <th>Players</th>
                <th>Board Games</th>
                <th>@Html.DisplayNameFor(model => model.MaxPlayers)</th>
                <th>Date</th>
                <th>@Html.DisplayNameFor(model => model.Adress)</th>
                <th>18+</th>
                <th>@Html.DisplayNameFor(model => model.Food)</th>
                <th>Drinks</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.NameNight)</td>
                    <td>@Html.DisplayFor(modelItem => item.Host)</td>
                    <td>
                        @if (item.BoardGameNightPlayer != null)
                        {
                            foreach (BoardGameNightPlayer a in item.BoardGameNightPlayer)
                            {
                                <div>@Html.DisplayFor(modelItem => a.PlayerMailAddress)</div>
                            }
                        }
                    </td>
                    <td>
                        @if (item.BoardGameNightBoardGame != null)
                        {
                            foreach (BoardGameNightBoardGame a in item.BoardGameNightBoardGame)
                            {
                                <div>@Html.DisplayFor(modelItem => a.BoardGameNameGame)</div>
                            }
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.MaxPlayers)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.Adress)</td>
                    <td>@Html.DisplayFor(modelItem => item.Mature)</td>
                    <td>@Html.DisplayFor(modelItem => item.Food)</td>
                    <td>@Html.DisplayFor(modelItem => item.Drink)</td>
                    <td>
                        <form asp-controller="BoardGameNight" asp-action="Join" asp-route-nameNight="@item?.NameNight">
                            <button type="submit" style="background-color: hsl(32, 45%, 25%);border-color:hsl(32, 45%, 25%);" class="btn btn-primary">Join</button>
                        </form>
                        <br>
                        <form asp-controller="BoardGameNight" asp-action="Leave" asp-route-nameNight="@item?.NameNight">
                            <button type="submit" class="btn btn-danger">Leave</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    <a asp-area="" asp-controller="BoardGameNight" asp-action="Create" class="btn btn-primary" style="background-color: hsl(32, 45%, 25%);border-color:hsl(32, 45%, 25%);">
        Create New Game Night
    </a>
</p>
