@model IEnumerable<Avans.GameNight.Core.Domain.Models.BoardGameNight>
@using Avans.GameNight.App.Models
@using Avans.GameNight.Core.Domain.Models

@{
    ViewData["Title"] = "MyBoardGameNights";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>MyBoardGameNights</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameNight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Host)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPlayers)
            </th>
            <th>
                Players:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ratings)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameNight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Host)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPlayers)
            </td>
             <td>
                    @if (item.BoardGameNightPlayer != null)
                    {
                        @foreach (BoardGameNightPlayer a in item.BoardGameNightPlayer)
                    {
                @Html.DisplayFor(modelItem => a.PlayerMailAddress)
                <br />
                    }
                    }
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ratings)
            </td>
           <td>
               <form asp-controller="BoardGameNight" asp-action="AddBoardGame" ><div class="form-group"><input type="submit" value="Add Boardgame" class="btn btn-danger"   style="background-image: url('https://wallpaperaccess.com/full/3405912.jpg'); border-color:  hsl(32, 45%, 25%);"   /></div></form>
       

            </td>
        </tr>
}
    </tbody>
</table>
