@using Avans.GameNight.Core.DomainServices.Interfaces
@using Avans.GameNight.Infrastructure.EntityFramework.Interfaces
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IPlayerRepository _playerRepo
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ServersideGameNight</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ServersideGameNight.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 d-none d-md-block bg-dark sidebar" style="height: 100vh; max-width: 10.666667%;">
                <div class="sidebar-sticky">
                    <!-- Sidebar navigation -->
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="LoginIndex"> <img src="~/img//BoardgameLogo.png" width="145" height="110" alt="Logo" /></a>
                        </li>
                    </ul>

                    <ul class="nav flex-column">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white bigger-nav-item" asp-area="" asp-controller="BoardGameNight" asp-action="Create">
                                    <i class="fas fa-plus"></i> Create Game
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white bigger-nav-item" asp-area="" asp-controller="BoardGameNight" asp-action="Index">
                                    <i class="fas fa-sign-in-alt"></i> Join Game
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white bigger-nav-item" asp-area="" asp-controller="BoardGame" asp-action="Index">
                                    <i class="fas fa-chess-board"></i> Boardgames
                                </a>
                            </li>
                        }
                        else
                        {

                            <li class="nav-item">
                                <a class="nav-link text-white bigger-nav-item" asp-area="" asp-controller="Account" asp-action="Login">
                                    <i class="fas fa-sign-in-alt"></i> Login
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white navbar-text navbar-right  bigger-nav-item" asp-area="" asp-controller="Account" asp-action="Register">
                                    <i class="fas fa-user-plus"></i> Register
                                </a>
                            </li>
                        }

                    </ul>


                    <ul class="nav flex-column mt-4">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white bigger-nav-item" asp-area="" asp-controller="BoardGameNight" asp-action="MyBoardGameNights">
                                    <i class="fas fa-gamepad"></i> My Games
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white bigger-nav-item" asp-area="" asp-controller="Player" asp-action="Profile">
                                    <i class="fas fa-user"></i> Profile
                                </a>
                            </li>

                            <li class="nav-item">
                                <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout">
                                    <button id="logout" type="submit" class="nav-link btn btn-link text-white  bigger-nav-item">
                                        <i class="fas fa-sign-out-alt"></i> Logout
                                    </button>
                                </form>
                            </li>

                        }
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
                <div class="container">
                    <!-- Your existing content goes here -->
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>@TempData["SuccessMessage"]</strong>
                        </div>
                    }
                    @if (TempData["WarningMessage"] != null)
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>@TempData["WarningMessage"]</strong>
                        </div>
                    }
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            <strong>@TempData["ErrorMessage"]</strong>
                        </div>
                    }
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
